// Custom Container
.pzh-container {
    padding-left: 96px;
    padding-right: calc(96px + 1rem);
    max-width: 100%;
}

@media (max-width: 640px) {
    .pzh-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 1800px) {
    .pzh-container {
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
    }
}
