#d3-tooltip-network-graph {
    max-width: 50vw;
    border-color: transparent transparent rgba(255, 255, 255, 100) transparent;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
        top: -10px;
        z-index: 10;
        left: calc(50% - 10px);
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 25px;
        height: 35px;
        bottom: -34px;
        z-index: 10;
        right: calc(50% - 12.5px);
    }
}
