html {
    height: 100%;
    overflow: auto;
    font-size: 20px; // Used for elements font-size
    line-height: 1.5em; // A normal paragraphs line-height is 30px in the current design
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karbon Regular', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 18px;
}
::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 18px;
}
:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 18px;
}
:-moz-placeholder {
    /* Firefox 18- */
    font-size: 18px;
}

mark {
    &.marked-purple,
    &.marked-orange,
    &.marked-red {
        padding: 0px 2px;
    }

    &.marked-purple {
        background-color: #dadae8;
    }
    &.marked-orange {
        background-color: #f8f1da;
    }
    &.marked-red {
        background-color: #f1dad9;
    }
}

.form-input {
    padding-top: 0.3rem;
    padding-right: 0.6rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
}

[data-tippy-root] {
    .pzh-tippy {
        background: none;
        box-shadow: none;

        .tippy-arrow {
            z-index: 10;

            &:before {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                top: -2px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 13px;
                height: 13px;
                background-color: #ffffff;
                border-left: 1px solid #cbd5e0;
                border-top: 1px solid #cbd5e0;
                transform: rotate(45deg);
            }
        }
    }
}

.svg-inline--fa:not(.text-xs):not(.text-sm):not(.text-base):not(.text-lg):not(.text-xl):not(.text-2xl):not(.text-3xl):not(.text-4xl):not(.text-5xl):not(.text-6xl) {
    font-size: 14px;
}

.pzh-btn {
    font-size: 1rem;
    font-family: 'Karbon Medium', sans-serif;
    font-weight: 700;
}

.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-color: #d2d6dc;
    border-width: 1px;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.text-md {
    font-size: 1.1rem;
}
