.top-100 {
    top: 100%;
}

.right-4 {
    right: 1rem;
}

.-right-4 {
    right: -1rem;
}

.h-half-screen {
    height: 50vh;
}

.max-h-half-screen {
    max-height: 50vh;
}

.opacity-30 {
    opacity: 0.3;
}

.odd-pr-3:nth-child(odd) {
    padding-right: 0.75rem;
}

.even-pl-3:nth-child(even) {
    padding-left: 0.75rem;
}

.duration-0 {
    transition-duration: 1ms;
}

.ml-min-2px {
    margin-left: -2px;
}

.skip-border-last-child li:last-child {
    border: none;
}

.move-left-2-px {
    position: relative;
    left: -2px;
}

.transition-regular {
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
