html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

$base-color: #000066;

.mbg-color {
    background-color: $base-color;
}

.mbg-color-darker {
    background-color: darken($base-color, 5%);
}

.mbg-color-darker-hover:hover {
    background-color: darken($base-color, 5%);
}

.mbg-color-lighter {
    background-color: #f3f2f7;
}

.m-color {
    color: $base-color;
}

.m-base-border-color {
    border-color: $base-color;
}

.m-border-color {
    border-color: #464792;
}

.body-bg-color {
    background-color: #f8f9fa;
}

.progress-bar-color {
    background-color: #e6e6ef;
}

.top-100 {
    top: 100%;
}

.right-4 {
    right: 1rem;
}

.-right-4 {
    right: -1rem;
}

.h-half-screen {
    height: 50vh;
}

.max-h-half-screen {
    max-height: 50vh;
}

.logo-beeldmerk {
    background-image: url('../images/logo_beeldmerk.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 79px;
    width: 79px;
    position: absolute;
    margin-top: -26px;
}

.logo-tekst {
    background-image: url('../images/logo_tekst.jpg');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    width: 250px;
    position: absolute;
    margin-top: -14px;
    margin-left: 90px;
}

#main-container {
    margin-top: 69px;
    min-height: calc(100vh - 69px);
}

#ambitie-list li {
    top: 0px;
    position: relative;
    transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

#ambitie-list li:hover {
    top: -2px;
}

#API-list li:nth-child(even),
#API-Item-list li:nth-child(even) {
    padding-left: 0.75rem;
}

#API-list li:nth-child(odd),
#API-Item-list li:nth-child(odd) {
    padding-right: 0.75rem;
}
#ambitie-list li.w-full:nth-child(odd) {
    padding-right: 0px;
}

/* Login */

.login-afbeelding {
    background-image: url('../images/login.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 70px;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50vw;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0) !important;
}

.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.main-sidebar-arrow {
    margin-top: -1px;
}

.vertical-label {
    text-orientation: sideways;
    writing-mode: vertical-rl;
    background-color: #c7c9dd;
    height: calc(100% - 1rem);
    position: absolute;
    right: 0.5rem;
    top: 0px;
}

.edit-header {
    margin-top: -48px;
}

.rotate-icon {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.verordening-list-item {
    &:before {
        content: '';
        height: 1px;
        width: 100%;
        background-color: #e2e8f0;
        display: block;
        position: absolute;
        bottom: 0px;
        width: calc(100% - 1.5rem);
    }
}

.verordening-list-container .verordening-list-item:last-child {
    &:before {
        content: none;
    }
}

.settings-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    svg {
        position: absolute;
        margin-left: 10px;
        margin-top: 10px;
    }
}

.main-tooltip-container {
    box-shadow: 0 0px 9px 2px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    // margin-top: 10px;
    // margin-right: -3px;
    &.main-tooltip-container-muteer-detail {
        margin-right: 11px;
        margin-top: 42px;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #fff transparent;
        top: -10px;
        z-index: 10;
        right: calc(50% - 10px);
    }
    &.tooltip-right {
        &:before {
            right: 10px;
        }
    }
    &.tooltip-left {
        &:before {
            right: 10px;
        }
    }
}

.Toastify__toast {
    border-radius: 0.25rem !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}
.Toastify__toast--default {
    color: #4a5568 !important;
}

.Toastify__close-button.Toastify__close-button--default {
    margin-top: -5px;
}

.Toastify__progress-bar--default {
    background: #48bb78 !important;
}

#raadpleeg-home {
    height: calc(100vh - 70px - 3rem);
}

#half-screen-leaflet-container {
    padding-top: 70px;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50vw;
}

#half-screen-leaflet {
    position: absolute;
    top: 70px;
    height: calc(100vh - 70px);
    right: 0px;
}
#full-screen-leaflet-container-false {
    height: 250px;
}
#full-screen-leaflet-container-true {
    padding-top: 70px;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 75vw;
}
#full-screen-leaflet {
    position: absolute !important; // overwrite Leaflets inline relative position
    top: 70px;
    height: calc(100vh - 70px);
    right: 0px;
}

.skip-border-last-child li:last-child {
    border: none;
}

#navigation-tooltip-container {
    left: 5px;
    box-shadow: 0 0px 9px 2px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #fff transparent;
        top: -10px;
        z-index: 10;
        right: 8px;
    }
}

.leaflet-control-container .leaflet-control-zoom {
    position: fixed;
    right: 10px;
    bottom: 30px;
}

.leaflet-control-layers-toggle {
    width: auto;
    background-position: 3px 50%;
    padding: 3px;
    padding-left: 36px;
    text-decoration: none;
    line-height: 36px;
}

.revisie-list {
    &:after {
        content: '';
        height: calc(100% - 10px);
        background-color: #e2e8f0;
        display: inline-block;
        position: absolute;
        top: 0px;
        width: 2px;
        left: calc(6rem - 2px);
    }
}

.revisie-list-bolletje {
    top: -0.25rem;
    margin-left: -0.45rem;
}

.leaflet-touch .leaflet-draw-section .leaflet-control-layers,
.leaflet-touch .leaflet-draw-section .leaflet-bar {
    border: none;
}

.leaflet-touch .leaflet-draw-actions {
    z-index: 10;
    a {
        background-color: white;
        color: #2c5282;
        box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0,
            rgba(0, 0, 0, 0.06) 0 1px 2px 0;
        &:hover {
            background-color: white;
            text-decoration: underline;
            color: #2c5282;
            box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0,
                rgba(0, 0, 0, 0.06) 0 1px 2px 0;
        }
    }
}

.leaflet-draw-toolbar a,
.leaflet-touch .leaflet-bar a,
.leaflet-draw-toolbar a:hover,
.leaflet-touch .leaflet-bar a:hover,
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-marker,
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon,
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit,
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove {
    align-items: center;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
    color: #718096;
    cursor: pointer;
    display: flex;
    position: relative;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
    background-image: none;
    &:hover {
        color: #4a5568;
    }
}

.leaflet-touch .leaflet-draw-toolbar.leaflet-bar .leaflet-draw-edit-edit,
.leaflet-touch .leaflet-draw-toolbar.leaflet-bar .leaflet-draw-draw-polygon {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.leaflet-touch .leaflet-draw-toolbar.leaflet-bar .leaflet-draw-draw-marker,
.leaflet-touch .leaflet-draw-toolbar.leaflet-bar .leaflet-draw-edit-remove {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.leaflet-touch .leaflet-draw-toolbar.leaflet-bar .leaflet-draw-edit-edit svg,
.leaflet-touch .leaflet-draw-toolbar.leaflet-bar .leaflet-draw-edit-remove svg {
    height: 1.1rem;
}

.leaflet-touch
    .leaflet-draw-toolbar.leaflet-bar
    .leaflet-draw-edit-edit.leaflet-disabled,
.leaflet-touch
    .leaflet-draw-toolbar.leaflet-bar
    .leaflet-draw-edit-remove.leaflet-disabled {
    display: none;
}

.leaflet-touch .leaflet-draw-actions {
    // overwrite inline styling set by Leaflet :-(
    left: 41px !important;
}

#leaflet-search {
    min-width: 2.5rem;
    // svg {
    //     position: relative;
    //     margin-left: 2px;
    // }
}

#searchQueryResults {
    margin-left: 2.75rem;
    width: 15.5rem;
    margin-left: 3.3rem;
    width: 15rem;
}

.popup-normal {
    height: 525px;
    max-height: 100%;
    width: 80vw;
    max-width: 100%;
    overflow-y: auto;
}

.popup-long {
    min-height: 75%;
    max-height: 100%;
    width: 80vw;
    max-width: 100%;
    overflow-y: auto;
}

.popup-results-list {
    max-height: 265px;
}

#main-search-result-container {
    li:first-child:hover,
    li:first-child a:focus {
        .search-preview {
            text-decoration: underline;
        }
    }
    .search-preview {
        max-width: calc(110% - 130px);
    }
}

.search-highlight {
    position: relative;
    z-index: 10;
    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #f6e05e85;
        transform: skew(-10deg);
        top: 0px;
        padding: 0px 14px;
        left: -1px;
    }
}

.odd-pr-6:nth-child(odd) {
    padding-right: 1.5rem;
}

.DraftEditor-root :global(.public-DraftEditor-content) {
    max-height: 400px;
    overflow: auto;
    padding: 1.5rem;
}
