.svg-inline--fa {
    font-size: 14px;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.underline-thin {
    text-decoration-thickness: 1px;
}

.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-color: #d2d6dc;
    border-width: 1px;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.text-md {
    font-size: 1.1rem;
}

.form-field-label {
    @apply block mb-2 text-xs tracking-wide text-gray-700 uppercase;
}

.form-field-description {
    @apply mb-2 text-sm text-gray-700;
}

.pzh-transition-colors {
    @apply transition-colors duration-200 ease-in;
}
